<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" />
    <script src="{% static 'tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <title>Income and Expenditure Graph Generator form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
  </head>
  <body>
    <div class="main-block">
      <form method="POST" enctype="multipart/form-data">
        <h1>Income and Expenditure Graph Generator</h1>
        <div class="info">
          {% csrf_token %}
          {{ form.my_date|attr:"class:datetimepicker-input" }}
          <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
            {{ form.my_date }}
            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
        </div>
        <button type="submit">Submit</button>
      </form>
      <script>
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>
    </div>
  </body>
</html>